<html>
<head>
    <title>
        Syntactic Simplify
    </title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-tags"></span>&nbsp&nbspSimplify</a>
        </div>
        <div class="collapse navbar-collapse" id="top-nav">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/lexus">Lexus</a></li>
                <li><a href="/syntax">Syntax</a></li>
                <li><a href="/enrich">Enrich</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <textarea id="txt-inp" class="form-control" placeholder="Enter the text you want to simplify here" rows="15"></textarea>
            </div>
            <div class="form-group">
                <button id="simplify-btn" class="btn btn-primary">Simplify Text</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="break-result"></div>
    </div>
    <div class="row">
        <div class="col-md-12" id="tree-result"></div>
    </div>
</div>
<script type="text/javascript" src="/static/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $("#simplify-btn").click(function() {
            var txt = $("#txt-inp").val();

            $.getJSON('/api/syntax/simplify',
                    {
                        text: txt
                    }, function(data) {
                        var treeResEl = $("#tree-result");
                        var breakResEl = $("#break-result");

                        if(data.success) {
                            treeResEl.html("");
                            breakResEl.html("");

                            var syntacticResult = data.result;
                            var l = syntacticResult.length;

                            var treeRes = "";
                            var breakRes = ""

                            for(var i = 0; i < l; i++) {
                                treeRes += "<tr><td>" + syntacticResult[i].tree + "</td></tr>";
                                var brokenRes = syntacticResult[i].broken_string;

                                breakRes += "<table class='table table-bordered'>";
                                breakRes += "<tr><th>Original</th><th>" + brokenRes.original + "</th></tr>";
                                breakRes += "<tr><td>Apposition</td><td>" + brokenRes.apposition + "</td></tr>";
                                breakRes += "<tr><td>Relative Clause</td><td>" + brokenRes.relative_clause + "</td></tr>";
                                breakRes += "<tr><td>Prefix Subordination</td><td>" + brokenRes.prefix_subordination + "</td></tr>";
                                breakRes += "<tr><td>Infix Coordination</td><td>" + brokenRes.infix_coordination + "</td></tr>";
                                breakRes += "<tr><td>Infix Subordination</td><td>" + brokenRes.infix_subordination + "</td></tr>";
                                breakRes += "</table>"
                            }

                            treeResEl.append("<h1>Trees</h1><table class='table table-bordered'>" + treeRes + "</table>");
                            breakResEl.append("<h1>Decompositions</h1>" + breakRes);
                        } else {
                            treeResEl.html("<div class='alert alert-danger'>" +
                                    "<span class='glyphicon glyphicon-exclamation-sign'></span>" +
                                    " Some error occurred!</div>");
                        }
                    }, "json");
        });
    });
</script>
</body>
</html>